body{
    background: #1C1C1C;
    font-family: 'Inter';
    padding: 50px;
}

.content{
    width: 500px;
    background:  #ECFDF5;
    padding: 30px;
    margin: 0 auto;
}

h1{
    font-family: 'Karla';
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 0;
}

h1 span{
    color: #10B981;
}

p{
    color: #6B7280;
    font-size: 20px;
    margin-bottom: 0;
}

button{
    width: 191px;
    height: 42px;
    background: #10B981;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    margin-top: 50px;

}

.placeholders{
    display: flex;
}

.placeholder{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 211px;
    height: 39px;
    border-radius: 6px;
    background: #273549;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #5DEF92;
}